{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'src/css/Contact.css' %}">
</head>
<body>
    <div class="contact-container">
        <h2>Contact us</h2>
        <div class="contact-item">
            <strong>Prof. ABC </strong>, Faculty In-charge (EMU)
            <br>
            Cell: <a href="tel:9649493202">XXXXXXXXXXXX</a>, Email: 
            <a href="mailto:dbhunia@pilani.bits-pilani.ac.in">XYZ@pilani.bits-pilani.ac.in</a>
        </div>
        <div class="contact-item">
            <strong>Mr. XYZ</strong>, STA
            <br>
            Cell: <a href="tel:9413366815">0XXXXXXXXX</a>
        </div>
        <div class="contact-item">
            <strong>Mr. ABC</strong>, TA
        </div>
        <div class="contact-item">
            <strong>Mr. SDF</strong>, Horticulturist
        </div>
    </div>
</body>
</html>